[submodule "references/deep-clustering-toolbox"]
	path = references/deep-clustering-toolbox
	url = https://github.com/jizongFox/deep-clustering-toolbox.git
[submodule "references/SupContrast"]
	path = references/SupContrast
	url = https://github.com/ETS-Research-Repositories/SupContrast.git
[submodule "references/PyContrast"]
	path = references/PyContrast
	url = https://github.com/HobbitLong/PyContrast.git
