[submodule "references/SupContrast"]
	path = references/SupContrast
	url = https://github.com/ETS-Research-Repositories/SupContrast.git
[submodule "references/PyContrast"]
	path = references/PyContrast
	url = https://github.com/HobbitLong/PyContrast.git
[submodule "references/deepclustering2"]
	path = references/deepclustering2
	url = https://github.com/jizongFox/deepclustering2.git
[submodule "references/OpenSelfSup"]
	path = references/OpenSelfSup
	url = https://github.com/open-mmlab/OpenSelfSup.git
