setuptools
numpy
pillow
scikit-image
torch
torchvision
torch_optimizer
apex
termcolor
tqdm
six
pyyaml
scikit-learn
matplotlib
pandas
tensorboardx
scipy
opencv-python
medpy
decorator
distributed
requests
randaugment
sklearn
packaging
nibabel
nilearn
git+https://github.com/jizongFox/easydict.git
tensorboard
tensorboardX