setuptools
numpy
pillow
scikit-image
torch
torchvision
torch_optimizer
termcolor
git+https://github.com/jizongFox/tqdm.git
pyyaml
scikit-learn
matplotlib
pandas
tensorboardx
scipy
opencv-python
medpy
decorator
distributed
requests
randaugment
sklearn
packaging
nibabel
nilearn
git+https://github.com/jizongFox/easydict.git
tensorboard
loguru
gdown
git+https://github.com/jizongFox/rising.git