deepclustering2
setuptools
numpy
pillow
scikit-image
torch
torchvision
apex
termcolor
tqdm
six
yaml
pyyaml
scikit-learn
matplotlib
pandas
tensorboardx
scipy
opencv-python
easydict
medpy
decorator
distributed
requests
multicoretsne
randaugment
sklearn
packaging
nibabel
nilearn
git+https://github.com/jizongFox/easydict.git